output {
	background-color: orange;
	width: 350px;
	height: 50px;
	margin: 50px;
}
table {
	margin-top: 30px;
}
th {
	text-align: center;
	width: 200px;
	height: 30px;
}
td {
	text-align: center;
	width: 200px;
	height: 30px;
}

thead > tr > th:hover {
	background-color: red;
	cursor: pointer;
}

div > button {
	position: fixed;
	top: 0;
	right: 0;
	background-color: red;
	width: 200px;
	height: 50px;
}

.trol {
	color:orange;
}