div {
	text-align: center;
}
div:nth-child(1) {
	margin: 0 auto;
	height: 150px;
	width: 1050px;
}
div:nth-child(2) {
	padding: 50px 0;
	background-color: #FCA71D;
	font-size: 30px;
	color: #FFF;
	clear: left;
}
div:nth-child(3) {
	margin: 50px 0;
}
span {
	display: inline-block;
	float: left;
	margin: 0;
	width: 14%;
	height: inherit;
	background-color: yellow;
	line-height: 255px;
	font-size: 25px;
	color: orange;
}
p {
	display: inline;
	margin: 0 10px;
	color: #000;
}