body {
	width: 900px;
	height: auto;
	margin: 0 auto;
}
body > div:nth-child(2) {
	position: relative;
	width: 100px;
	height: 436px;
	text-align: center;
	float: left;
}
body > div:nth-child(1){
	float: left;
}
body > div:nth-child(3){
	float: right;
}

body > div > div {
	text-align: center;
	padding: 15px;
	border-bottom: 1px solid blue;
}
span {
	font-size: 30px;
	color: red;
}
img {
	width: 350px;
	height: 250px;
	margin: 70px 0;
}
body > div > span {
	position: absolute;
	top: 50%;
}

body > div:nth-child(4) {
	clear: both;
}

body > div:nth-child(4) > button {
	width: 100px;
	float: right;
	margin: 10px;
	padding: 15px;
    background-color: #00ACE9;	
   	font-size: 17px;
}
#result {
	width: 100px;
}

@keyframes move {
	0% { transform: translateY(0px);}
	5% { transform: translateY(40px);}
	10% { transform: translateY(-40px);}
	15% { transform: translateY(40px);}
	20% { transform: translateY(-40px);}
	25% { transform: translateY(40px);}
	30% { transform: translateY(-40px);}
	35% { transform: translateY(40px);}
	40% { transform: translateY(-40px);}
	45% { transform: translateY(40px);}
	50% { transform: translateY(-40px);}
	55% { transform: translateY(40px);}
	60% { transform: translateY(-40px);}	
	65% { transform: translateY(40px);}
	70% { transform: translateY(-40px);}
	75% { transform: translateY(40px);}	
	80% { transform: translateY(-40px);}
	85% { transform: translateY(40px);}
	90% { transform: translateY(-40px);}	
	95% { transform: translateY(40px);}
	100% { transform: translateY(0px);}				
}