div {
	position: relative;
	left: -168px;
	width: 20000px;
	height: 150px;
}

body > div > div {
	width: 100px;
	height: 100px;
	background-color: orange;
	border-radius: 50%;
	float: left;
	margin: 5px;
	animation-name: move;
	animation-duration: 2s;
}

@keyframes move {
    from {transform:translateY(112px);;}
    to {transform:translateY(0);}
}